<!DOCTYPE html>
<html lang="en">
<head>
    <title>OFF-Product Comparator</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>

<body bgcolor='#e8e8e8'>
{% extends "layout.html" %}
{% block content %}

<!-- Waiting Screen -->
<div id="screenBlock">
    <!--<img src="{{ url_for('static',filename='images/giphy5.gif') }}" title="server busy"/>-->
</div>

<!-- Display details of selected product among those which are suggested in the bottom banner -->
<div id="selected_product_details">

</div>

<!-- GRAPH HEADER -->

<div id="banner">Open Food Facts - Product comparison</div>

<div id="product_details"><span id="prod_ref_code">&nbsp;</span> &nbsp;&nbsp;
    <span id="prod_ref_name"/></div>
<div style='width: 98%; text-align: right;'>
    <table style='text-align: right; width: 100%'>
        <tbody>
        <tr>
            <td style='border-radius: 5px;'>
                <table style="width: 100%">
                    <tr style='text-align: right; vertical-align: top; background-color: #d0d0d0;'>
                        <td id="cell_product_image">
                            <img id="prod_ref_image" height="javascript: $(window).innerHeight()/7"
                                 src='https://static.openfoodfacts.org/images/misc/openfoodfacts-logo-en-178x150.png'
                                 onclick="$(ID_INPUT_PRODUCT_CODE).val(current_product==null? PRODUCT_CODE_DEFAULT : current_product.code)"
                            />
                            <div id="links_off">
                                <a id="url_off_prod" href='https://world.openfoodfacts.org' target='_blank'>
                                    <img src='https://static.openfoodfacts.org/images/favicon/apple-touch-icon-57x57.png'
                                         id="img_off_prod"
                                         height='28'
                                         title='see the product details in the openfoodfacts website.'/>
                                </a>
                                <a id="url_off_json_prod"
                                   href='https://fr.openfoodfacts.org/api/v0/produit/3029330003533.json'
                                   target='_blank'>
                                    <img id="img_off_json"
                                         src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/JSON_vector_logo.svg/160px-JSON_vector_logo.svg.png'
                                         height='28'
                                         title='see json details for the product (best seen on Firefox).'/>
                                </a></div>
                        </td>
                        <td>
                            <div id="prod_ref_categories" style="display:none"></div>
                            <div id="criteria">
                                <table>
                                    <tr>
                                        <td>Country</td>
                                        <td>
                                            <!-- List of navigator's languages: see
                                            https://stackoverflow.com/questions/5580876/navigator-language-list-of-all-languages
                                            -->
                                            <select id="input_country"
                                                    onchange="fetch_stores($(ID_INPUT_COUNTRY+' option:selected')[0])">
                                                <option></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Store</td>
                                        <td>
                                            <select id="input_store" title="select a store">
                                                <option></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Barcode</td>
                                        <td>
                                            <div id="panel_input_code">
                                                <input id='input_product_code' type='text' title="product code"
                                                       value=""/>
                                                <div id="submitBtn" name="submitBtn">Go!</div>
                                            </div>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="msg_warning_prod_ref">&nbsp;</div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div id="graph">&nbsp;</div>

<!-- Panel for the suggestion of products with a better score -->
<!-- navigation icons -->
<div id="menu_selection">
    <div>
        <div id="nb_suggestions"></div>
        <br/>
        suggestion(s)
    </div>
    <img src="{{ url_for('static',filename='images/leftArrow.png') }}"
         title="previous product" onclick="select_picture(-1)"/>
    <img src="{{ url_for('static',filename='images/details.png') }}"
         title="compare this product" onclick="show_details()"/>
    <img src="{{ url_for('static',filename='images/rightArrow.png') }}"
         title="next product" onclick="select_picture(+1)"/>
</div>

<div id="products_suggestion">

</div>


<div id="server_log_cell">
    <table id="server_log">
        <tr id="server_log_header_row">
            <td>Server activity</td>
            <td>
                <div id="server_activity">
                    <img width="48px" src="{{ url_for('static',filename='images/giphy5.gif') }}"
                         title="server busy"/>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="echoResultLog"
                >&nbsp;</div>
            </td>
        </tr>
    </table>
</div>


<script type="text/javascript">init()</script>

{% endblock %}
</body>
</html>